<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Metaetiquetas para conjunto de caracteres y vista -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Título de la página -->
  <title>La Riviera</title>
  <!-- Enlaces a archivos CSS y favicon -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../assets/img/favicon.png" type="image/x-icon">
</head>
<body>
  <!-- Encabezado (HEADER) -->
  <header>
    <nav>
      <!-- Logo del restaurante -->
      <div class="logo">
        <img src="../assets/img/favicon.png">
      </div>
      <!-- Título del restaurante -->
      <div class="titulo">
        <h2>LA RIVIERA</h2>
      </div>
      <!-- Enlaces de navegación -->
      <ul>
        <li><a href="../index.html">INICIO</a></li>
        <li class="navegacion"><a href="views/productos.html">PRODUCTOS</a></li>
        <li><a href="presupuesto.html">PRESUPUESTO</a></li>
        <li><a href="contacto.html">CONTACTO</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Contenido principal (MAIN) -->
  <div>
    <ul>
      <!-- Primer grupo de comidas -->
      <li>
        <h2>BANDEJA PAISA-17€</h2>
        <img class="comidas" src="../assets/img/paisa.jpg">
      </li>
      <li>
        <h2>LENGUA-14€</h2>
        <img class="comidas" src="../assets/img/lengua.jpg">
      </li>
      <li>
        <h2>PICADA-20€</h2>
        <img class="comidas" src="../assets/img/picada.jpg">
      </li>
    </ul>

    <ul>
      <!-- Segundo grupo de comidas -->
      <li>
        <h2>SANCOCHO-16€</h2>
        <img class="comidas" src="../assets/img/sancocho.jpg">
      </li>
      <li>
        <h2>EMPANADAS-5€</h2>
        <img class="comidas" src="../assets/img/empanadas.jpg">
      </li>
      <li>
        <h2>CHULETA-10€</h2>
        <img class="comidas" src="../assets/img/chuleta.jpg">
      </li>
    </ul>

    <ul>
      <!-- Tercer grupo de comidas -->
      <li>
        <h2>AREPAS</h2>
        <img class="comidas" src="../assets/img/arepas.jpg">
      </li>
      <li>
        <h2>PANDEYUCA</h2>
        <img class="comidas" src="../assets/img/pandeyuca (1).jpg">
      </li>
      <li>
        <h2>ARROZ MIXTO</h2>
        <img class="comidas" src="../assets/img/arrpzmixto.jpg">
      </li>
    </ul>
  </div>

  <!-- Pie de página (FOOTER) -->
  <footer>
    <!-- Iconos de redes sociales con enlaces -->
    <div class="social-icons">
      <a href="https://www.facebook.com"><img src="../assets/img/facebook_logo.png"></a>
      <a href="https://twitter.com"><img src="../assets/img/twitter_logo.png"></a>
      <a href="https://www.instagram.com"><img src="../assets/img/Instagram_logo.png"></a>
    </div>
    <!-- Dirección del restaurante -->
    <div>
      <p>Calle Cruces, 6</p>
    </div>
    <!-- Descargo de responsabilidad legal -->
    <div>
      <p>Aviso legal</p>
    </div>
  </footer>
</body>
</html>